#background {  
    background-image: url("../../images/background.jpg");
    filter: blur(12px) brightness(80%);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: repeat;
    position: absolute;
    z-index: 1;
}

.body {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.album-text {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 25%;
    margin-top: 20px;
    margin: 0 auto;
    background-color: black;
    opacity: 75%;
    text-align: center;
    color: rgb(252, 199, 207);
    position: relative;
    z-index: 2;
}

.soundcloud-player {
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid black;
    position: relative;
    text-align: center;
}