.cards {
	background: #fff;
	padding: 3rem;
}

.cards__container {
	align-items: center;
	display: flex;
	flex-flow: column;
	margin: 0 auto;
	max-width: 1120px;
	width: 100%;
	object-fit: contain;
}

.cards__wrapper {
	margin: 50px 0 25px;
	position: relative;
}

.cards__items {
	margin-bottom: 25px;
}

.cards__item {
	align-items: center;
	display: flex;
	width: 100%;
}

.cards__item__box {
	align-items: center;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.cards__item__img {
	align-items: center;
	box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
	display: flex;
	justify-content: center;
	max-width: 80%;
	width: 80%;
}

.cards__item__info {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 100%;
	padding: 5px 10px 5px;
}

.cards__item__text {
	color: #252e48;
	font-size: 18px;
	line-height: 18px;
	padding-top: 7px;
	padding-right: 8px;
}

@media only screen and (min-width: 1200px) {
	.content__blog__container {
		width: 84%;
	}
}

@media only screen and (min-width: 1024px) {
	.cards__items {
		display: flex;
	}
}

@media only screen and (max-width: 1024px) {
	.cards__item {
		margin-bottom: 2rem;
	}
}
